<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/retro.css') }}">
</head>
<body>

    <div>
        <div>
            <div>
                <p>
                    <center>
                        I am developer working as freeelance 
                        please refer  <a href="{{ url_for('blog') }}">My Blog</a>
                        you can <a href="https://twitter.com/">tweetme</a> or 
                        <a href = "mailto: abc@example.com">mail</a>.
                        Happy Coding..:)

                        <!-- Inspration to this blog idea  -->
                        <!-- https://vkaustubh.github.io/blog/geek/2020-02-23-blogging-with-flask.html -->
                        <!-- https://nicolas.perriault.net/code/2012/dead-easy-yet-powerful-static-website-generator-with-flask/ -->
                    </center>
                    
                </p>
            </div>
        </div>
    </div>
    
</body>
</html>